version: '3'
services:
  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: namenode
    hostname: namenode
    restart: always
    ports:
      - 9870:9870
      - 9000:9000
    volumes:
      - hadoop_namenode:/hadoop/dfs/name
    environment:
      - CLUSTER_NAME=test
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
      - HDFS_CONF_dfs_replication=1
      - HDFS_CONF_dfs_webhdfs_enabled=true
      - HDFS_CONF_dfs_permissions_enabled=false
    networks:
      - hadoop_network

  datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode
    hostname: datanode
    restart: always
    ports:
      - 9864:9864
    volumes:
      - hadoop_datanode:/hadoop/dfs/data
    environment:
      - SERVICE_PRECONDITION=namenode:9870
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
      - HDFS_CONF_dfs_replication=1
      - HDFS_CONF_dfs_permissions_enabled=false
    networks:
      - hadoop_network
    depends_on:
      - namenode

  resourcemanager:
    image: bde2020/hadoop-resourcemanager:2.0.0-hadoop3.2.1-java8
    container_name: resourcemanager
    hostname: resourcemanager
    restart: always
    ports:
      - 8088:8088
    environment:
      - SERVICE_PRECONDITION=namenode:9000 namenode:9870 datanode:9864
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
      - YARN_CONF_yarn_hostname=resourcemanager
    networks:
      - hadoop_network
    depends_on:
      - namenode
      - datanode

  nodemanager:
    image: bde2020/hadoop-nodemanager:2.0.0-hadoop3.2.1-java8
    container_name: nodemanager
    hostname: nodemanager
    restart: always
    ports:
      - 8042:8042
    environment:
      - SERVICE_PRECONDITION=namenode:9000 namenode:9870 datanode:9864 resourcemanager:8088
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
      - YARN_CONF_yarn_hostname=nodemanager
    networks:
      - hadoop_network
    depends_on:
      - resourcemanager

  historyserver:
    image: bde2020/hadoop-historyserver:2.0.0-hadoop3.2.1-java8
    container_name: historyserver
    hostname: historyserver
    restart: always
    ports:
      - 8188:8188
    environment:
      - SERVICE_PRECONDITION=namenode:9000 namenode:9870 datanode:9864 resourcemanager:8088
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
      - YARN_CONF_yarn_hostname=historyserver
    networks:
      - hadoop_network
    depends_on:
      - resourcemanager

  spark-master:
    image: apache/spark:3.5.0
    container_name: spark-master
    hostname: spark-master
    ports:
      - 8090:8080
      - 7077:7077
    environment:
      - SPARK_MASTER_HOST=spark-master
    networks:
      - hadoop_network
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master

  spark-worker:
    image: apache/spark:3.5.0
    container_name: spark-worker
    hostname: spark-worker
    ports:
      - 8081:8081
    environment:
      - SPARK_WORKER_CORES=2
      - SPARK_WORKER_MEMORY=2G
    networks:
      - hadoop_network
    depends_on:
      - spark-master
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077

  spark-thrift-server:
    image: apache/spark:3.5.0
    container_name: spark-thrift-server
    environment:
      - SPARK_MASTER=spark://spark-master:7077
      - HIVE_METASTORE_URIS=thrift://hive-metastore:9083
    ports:
      - 10000:10000
    networks:
      - hadoop_network
    depends_on:
      - spark-master
      - hive-metastore
    command: /opt/spark/bin/spark-submit --class org.apache.spark.sql.hive.thriftserver.HiveThriftServer2 --name "Thrift JDBC/ODBC Server" --master spark://spark-master:7077 --conf spark.sql.warehouse.dir=hdfs://namenode:9000/user/hive/warehouse --conf spark.hadoop.hive.metastore.uris=thrift://hive-metastore:9083 --conf spark.hadoop.fs.hdfs.impl.disable.cache=true --conf spark.hadoop.fs.file.impl.disable.cache=true --hiveconf hive.server2.thrift.port=10000 --hiveconf hive.server2.thrift.bind.host=0.0.0.0

  jupyter:
    image: jupyter/pyspark-notebook:latest
    container_name: jupyter
    ports:
      - 8888:8888
    environment:
      - SPARK_MASTER=spark://spark-master:7077
      - SPARK_OPTS=--conf spark.hadoop.hive.metastore.uris=thrift://hive-metastore:9083
    volumes:
      - ./notebooks:/home/jovyan/work
    networks:
      - hadoop_network

  hive-metastore-postgresql:
    image: postgres:13
    container_name: hive-metastore-postgresql
    environment:
      - POSTGRES_DB=metastore_db
      - POSTGRES_USER=hive
      - POSTGRES_PASSWORD=hive
    networks:
      - hadoop_network
    volumes:
      - hive_metastore_db_data:/var/lib/postgresql/data

  hive-metastore:
    image: apache/hive:4.0.0
    container_name: hive-metastore
    environment:
      - SERVICE_NAME=metastore
      - DB_DRIVER=postgres
      - TYPE=postgres
      - POSTGRES_USER=hive
      - POSTGRES_PASSWORD=hive
      - DB_URL=jdbc:postgresql://hive-metastore-postgresql:5432/metastore_db
      - HDFS_NAMENODE=namenode:9000
    ports:
      - 9083:9083
    command: /opt/hive/bin/hive --service metastore
    volumes:
      - ./connectors/postgresql-42.6.0.jar:/opt/hive/lib/postgresql-42.6.0.jar
      - ./conf/hive-site.xml:/opt/hive/conf/hive-site.xml
    networks:
      - hadoop_network
    depends_on:
      - namenode
      - hive-metastore-postgresql

volumes:
  hadoop_namenode:
  hadoop_datanode:
  hive_metastore_db_data:

networks:
  hadoop_network:
    driver: bridge
